@import "tailwindcss";

a.active hr{
    display: block;
}
*{
    font-family: Outfit;
}

@media (max-width : 640px){
    a.active{
        background: #000;
        color: white;
    }
}
::-webkit-scrollbar{
    display: none;
}